div {
  color: #000000;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  padding: 10px;

}

.container {
  border: 1px solid #1c346c;
  border-radius: 25px;
  background-color:#fdfdfd;
  display:flex;
}

.screenFront{
  background-image: url(../assets/background.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  margin: 20px;
}

.screenFrontImg{
  height: 200px;
  width: 400px;
}

.topContainer{
  width: 417px;
}

.fixed {
  background-color:#6b83ba80;
  height: 320px;
  text-align: left;
}

.flex-item {
  background-color:#6b83ba80;
  flex-grow: 1;
  text-align: left;
}

.buttonContainer {
  border: 1px solid #0b0000;
  text-align: center;
  width: 120px;
  /* height: 40px; */
  margin: auto;
  padding: 5px;

}